body {
	height: 100%;
	margin: 0;
	padding: 0;
	background: url(../img/3088.png) no-repeat fixed;
	background-size: cover;
	background-position: center;
	font-size: 16px;
	color: #095ba6;
}
strong {
	font-weight: bold;
}

a{
	 color: #095ba6;
}
a:hover{
	 color: #039be5;
}

nav ul a {
    color: #095ba6;
	font-weight: bold;
}
nav ul a:hover {
    color: #039be5;
	background-color: rgba(0, 0, 0, 0);
}
nav ul a:active {
    color: #095ba6;
}

input:not([type]):focus:not([readonly]) + label, input[type=text]:not(.browser-default):focus:not([readonly]) + label, input[type=password]:not(.browser-default):focus:not([readonly]) + label, input[type=email]:not(.browser-default):focus:not([readonly]) + label, input[type=url]:not(.browser-default):focus:not([readonly]) + label, input[type=time]:not(.browser-default):focus:not([readonly]) + label, input[type=date]:not(.browser-default):focus:not([readonly]) + label, input[type=datetime]:not(.browser-default):focus:not([readonly]) + label, input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label, input[type=tel]:not(.browser-default):focus:not([readonly]) + label, input[type=number]:not(.browser-default):focus:not([readonly]) + label, input[type=search]:not(.browser-default):focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
	color: #095ba6;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #095ba6;
  -webkit-box-shadow: 0 1px 0 0 #095ba6;
          box-shadow: 0 1px 0 0 #095ba6;
}

option{
	color: #095ba6 !important;
}

.switch label input[type=checkbox]:checked + .lever {
    background-color: #095ba6;
}
.switch label input[type=checkbox]:checked + .lever:after {
    background-color: #039be5;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: #095ba6;
}

.nav-wrapper, .page-footer {
	background-color: rgba(255,255,255,1.00) !important;	
    min-height: 5rem;
}
.fixed-footer {
	position: fixed;
	width: 100%;
	bottom: 0px;
}
.page-footer .footer-copyright {
	background-color: rgba(51, 51, 51, 0);
	color: #095ba6;
}
.principal {
	padding-top:8rem;    
	margin-bottom: 10rem;
}
.menu {
	position: fixed;
	width: 100%;
	margin: 0;
	padding: 0;
	z-index: 1000;
}
.deslog {
	padding: 8px !important;
}
.filtro {
	margin: 15px;
}
.disabled {
	opacity: 0.5;
	cursor: default;
}
.padding15 {
	padding: 15px;
}
.margin5 {
	margin: 5px;
}
.height {
	height: 410px;
	margin-bottom: 25px
}
.opcoes {
	position: absolute;
	/* top: 19px; */
	bottom: 44px;
	width: 80%;
}
.esp {
	margin-bottom: 10px;
	height: 40px;
	overflow: hidden;
}
.bg-branco {
	background-color: rgba(255, 255, 255, 1.0);
}
.sumir {
	display: none
}
.arredondado {
	border-radius: 100px;
}
fechar {
	text-align: center;
	cursor: pointer;
	color: slategray !important;
	padding: 10px 15px;
	float: left;
}
.btn {
	width: 100%;
	background-color: #095ba6 !important;
}

.tabs .tab a:hover, .tabs .tab a.active {
    color: #56ccf2;
	
}

.tabs .tab a {
    color: #56ccf2;
}

.tabs .indicator {
    background-color: #56ccf2;
}

.danger{
	color: red;
}
.success{
	color: lawngreen;
}