﻿.infograficoModelo{ width:400px; margin: auto; padding-bottom: 150px; overflow: hidden}

.esquerdoGrafico, .direitoGrafico{float: left; width: 200px}
.esquerdoGrafico img,.topoGrafico img , .direitoGrafico img{ width: 100%}
.mapainfo{ cursor: pointer}
.z{ padding: 10px; background: #fff; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; position: absolute; width: 200px; top:20px; left:20px; padding: 10px;
    background: #f3f3f3;    -webkit-border-radius: 10px;    -moz-border-radius: 10px;    border-radius: 10px;    position: absolute;    border: 2px solid #095BA5;   
    width: 230px; display: none; cursor: pointer}
.z1 {
    top: 133px;
    left: 0px;
}
.z2 {
    top: 133px;
    left: 724px;
}

   top: 243px;
    left: 3px;
    width: 190px;
}
	.z2 {
    top: 243px;
    left: 209px;
    width: 190px;
}
}